{% extends 'common/base.html' %}

{% load bootstrap4 %}
{% block body_content %}
<div class="container-fluid">
    <!--Post add button-->

    <div class="row">
        <!-- Photo Cards-->
        {% for picture_post in picture_posts %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <!--Card Photo-->

                <!-- Card Overlay -->
                <div class="card-img-overlay">
                    <div class="row align-items-end">
                        <div class="col-12">
                            <ul class="nav justify-content-center post-overlay-text">
                                <li class="nav-item">
                                    <!--Profile link-->
                                </li>
                                <!-- Comments Icon/Link-->
                                <li class="nav-item">
                                </li>
                                <!-- Like Icon/Button-->
                                <li class="nav-item">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}