{% extends 'common/base.html' %}

{% load bootstrap4 %}
{% block body_content %}
<div class="container-fluid">
    <div class="row justify-content-between mt-3">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <!-- Photo Card-->
            <div class="card">
                <img class="card-img-top" src="{{ MEDIA_URL }}/{{ picture_post.photo }}">
                <div class="card-body">
                    <p class="card-text lead">{{ picture_post.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <!-- Comment Nav-->
            <ul class="nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link text-dark" href="#collapseExample" data-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Add Comment<span class="fas fa-plus-circle ml-2"></span>
                    </a>
                    {% else %}
                    <a class="nav-link text-dark" href="{% url "user-login" %}">
                        Add Comment<span class="fas fa-plus-circle ml-2"></span>
                    </a>
                    {% endif %}
                </li>
                <!-- Like Icon/Button -->
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url "picture-post-like" pk=picture_post.id  %}">
                        <span class="fas fa-heart mr-2"></span>{{ picture_post.num_likes }}
                    </a>
                </li>
            </ul>
            <!-- Comment form-->
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="{{ request.path }}" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Post Comment<span class="fas fa-comments ml-1"></span>
                        </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <hr />
            <!-- Comments-->
            {% for comment in picture_post.comments.all %}
            <blockquote class="blockquote">
                <p class="mb-0">{{ comment.message }}
                </p>
                <footer class="blockquote-footer">
                    <a class="text-dark" href="{% url "user-profile-detail" pk=comment.user.id %}">
                        {{ comment.user.username }}
                        <!-- User Profile Photo-->
                        {% if comment.user.profile.photo %}
                        <img src="{{ MEDIA_URL }}/{{ comment.user.profile.photo }}"
                            class="rounded-circle avatar cropped-profile-img ml-2" alt="profile_picture">
                        {% else %}
                        <span class="fas fa-user-astronaut ml-2"></span>
                        {% endif %}
                    </a>
                </footer>
            </blockquote>
            <hr />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}