{% extends 'common/base.html' %}

{% load bootstrap4 %}
{% block body_content %}
<div class="container-fluid">
    <!--Post add button-->
    {%  %}
    <div class="row justify-content-end mt-2">
        <div class="col-1">
            <a class="text-dark float-sm-right" href="#">
                <span class="fas fa-2x fa-plus-circle"></span>
            </a>
        </div>
    </div>
    {%  %}
    <div class="row">
        <!-- Photo Cards-->
        {% %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <!--Card Photo-->
            <div class="card bg-dark text-white">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img embed-responsive-item" src="#">
                </div>
                <!-- Card Overlay -->
                <div class="card-img-overlay">
                    <div class="row align-items-end">
                        <div class="col-12">
                            <ul class="nav justify-content-center post-overlay-text">
                                <li class="nav-item">
                                    <!--Profile link-->
                                    <a class="text-white"
                                        href="{% url "user-profile-detail" pk=picture_post.user.id %}">
                                        {{  }}
                                        <!-- User Profile Avatar-->
                                        {%  %}
                                        <img src="{{ MEDIA_URL }}/{{ picture_post.user.profile.photo }}"
                                            class="rounded-circle avatar cropped-profile-img" alt="profile_picture">
                                        {%  %}
                                        <span class="fas fa-user-astronaut ml-2"></span>
                                        {%  %}
                                    </a>
                                </li>
                                <!-- Comments Icon/Link-->
                                <li class="nav-item">
                                    <a class="nav-link text-white"
                                        href="#">
                                        0<span class="fas fa-comments ml-2"></span>
                                    </a>
                                </li>
                                <!-- Like Icon/Button-->
                                <li class="nav-item">
                                    <a class="nav-link text-white"
                                        href="#">
                                        {{  }}<span class="fas fa-heart ml-2"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}