{% extends 'common/base.html' %}

{% load bootstrap4 %}
{% block body_content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- Profile Photo -->

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <!-- Profile Bio -->
                    <!-- Profile Edit/Nav -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}